.process-item {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.process-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) {
  .process-item {
    height: 340px; /* Fixed height on desktop */
  }
}
