.line-section {
  position: relative;
  text-align: center;
  padding: 0px;
  margin:20px;
}

.line-section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  z-index: 0;
}

.line-button-unique {
  position: relative;
  z-index: 1;
  padding: 10px 28px;
  font-weight: 600;
  background-color: #d4b0a5;
  color: white;
  border: none;
  border-radius: 6px;
}

.line-button-unique:hover {
  background-color: #b6958c;
  color: white; /* darker hover effect */
}
